<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Product</title>
    <link href="../src/output.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <!-- NAVBAR -->
    <nav
      class="bg-[#FAE8E8] fixed w-full top-0 z-50 border-b border-pink-100 shadow-sm"
    >
      <div
        class="max-w-7xl mx-auto flex items-center justify-between px-6 py-4"
      >
        <!-- LOGO -->
        <a href="#" class="flex items-center gap-3">
          <img
            src="/aset/photo_6062000353378504431_y.jpg"
            class="w-10 h-10 rounded-full object-cover"
            alt=""
          />

          <span class="text-2xl font-bold text-pink-900"> Velora </span>
        </a>

        <!-- MENU -->
        <div
          class="hidden md:flex items-center gap-10 font-medium text-pink-900"
        >
          <a href="./coba.html" class="hover:text-pink-500 transition">
            Home
          </a>
          <a href="#" class="hover:text-pink-500 transition"> Contact </a>
        </div>
        <!-- RIGHT SIDE -->
        <div class="flex items-center gap-5">
          <!-- SEARCH -->
          <form class="hidden md:block">
            <div class="relative">
              <input
                type="search"
                placeholder="Search..."
                class="w-64 rounded-full border border-pink-200 bg-white px-4 py-2 pl-10 text-sm outline-none focus:border-pink-400"
              />

              <!-- SEARCH ICON -->
              <i
                data-feather="search"
                class="absolute left-3 top-2.5 w-4 h-4 text-pink-400"
              ></i>
            </div>
          </form>

          <!-- CART -->
          <a href="./cart.html">
            <button class="hover:scale-110 transition">
              <i data-feather="shopping-cart" class="w-7 h-7 text-pink-900"></i>
            </button>
          </a>

          <!-- PROFILE -->
          <a href="./profile.html">
            <button class="hover:scale-110 transition">
              <i data-feather="user" class="w-7 h-7 text-pink-900"></i>
            </button>
          </a>
        </div>
      </div>
    </nav>

    <!-- CONTAINER -->
    <section class="max-w-6xl mx-auto px-6 pt-35 pb-5">
      <!-- DETAIL -->
      <div id="detail" class="bg-white rounded-3xl p-10 shadow-md"></div>

      <!-- POPULAR PRODUCT -->
      <div class="mt-20">
        <h2 class="text-4xl font-bold mb-10">Popular Products</h2>

        <div
          id="popular"
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8"
        ></div>
      </div>
    </section>

    <div id="detail"></div>
    <div id="popular"></div>
    <script src="../script/detail.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
