<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Payment Success</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
</head>

<body class="bg-[#FFF7F7] min-h-screen flex items-center justify-center px-5">

  <div class="bg-white rounded-3xl shadow-xl p-10 max-w-md w-full text-center">

    <!-- ICON -->
      <i class='bx bxs-check-circle text-9xl text-pink-800'></i>

    <!-- TEXT -->
    <h1 class="text-3xl font-bold text-pink-500 mt-8">
      Payment Success
    </h1>

    <p class="text-gray-500 mt-4">
      Thank you for shopping at Velora
    </p>

    <!-- BUTTON -->
    <a
      href="/view/coba.html" class="block bg-[#E6A4B4] hover:bg-pink-700 transition text-white py-3 rounded-xl mt-8">
      Back To Home
    </a>

  </div>

</body>
</html>